#
# Ansible script to install linuxbrew and associated requirements. It will put it into {{ gvl_app_path }} and use sensible temp dirs etc.
# It also sets the pathing correctly for linuxbrew for anyuser that logs in via ssh or a login terminal.
#
  # Install some extra required system packages
- name: Update the apt cache
  apt: update_cache=yes
  sudo: yes
  sudo_user: root

- name: Install some more required system packages
  apt: pkg="{{ item }}" state=latest
  with_items:
    - build-essential
    - curl
    - git
    - m4
    - ruby
    - texinfo
    - libbz2-dev
    - libcurl4-openssl-dev
    - libexpat-dev
    - libncurses-dev
    - zlib1g-dev
    - cpanminus
    - pandoc
    - oracle-java8-installer
  sudo: yes
  sudo_user: root

- name: Create the homebrew_cache directory
  file: dest="{{ gvl_tmp_path }}/homebrew_temp" state=directory owner=ubuntu group=ubuntu
  sudo: yes
  sudo_user: root

- name: Create the homebrew_temp directory
  file: dest="{{ gvl_tmp_path }}/homebrew_cache" state=directory owner=ubuntu group=ubuntu
  sudo: yes
  sudo_user: root

- name: Clone linuxbrew
  git: repo="https://github.com/Linuxbrew/linuxbrew.git" dest="{{ gvl_app_path }}"/linuxbrew accept_hostkey=yes force=yes

- debug: msg="Current ansible environment PATH = {{ ansible_env.PATH }}"
#- debug: msg="Current environment = {{ ansible_env | to_nice_json }}"

#Update the brew formula library
- name: Update the brew formula library
  homebrew: update_homebrew=yes
  environment: "{{ linuxbrew_env }}"
  sudo: yes
  sudo_user: ubuntu

#Now add the science, cbl and bioinformatics formula to the brew setup..
- name: Tap some kegs!
  homebrew_tap: tap="{{ item }}" state=present
  environment: "{{ linuxbrew_env }}"
  with_items:
    - homebrew/science
    - chapmanb/cbl
    - tseemann/bioinformatics-linux

#Install some required non-default brew packages
- name: Install pkg-config - install phase
  homebrew: name=pkg-config state=present
  environment: "{{ linuxbrew_env }}"

- name: brew install libtool
  homebrew: name=libtool state=present
  environment: "{{ linuxbrew_env }}"

#Copy the environments and module files across to the temp script dir.

- name: Copy the linuxbrew env file to the temp script dir.
  template: src=linuxbrew-paths.j2 dest="{{ gvl_app_path}}/scripts/linuxbrew-paths.sh"
  sudo: yes
  sudo_user: ubuntu

- name: Copy the linuxbrew module file to the temp script dir.
  template: src=linuxbrew.j2 dest="{{ gvl_app_path }}/scripts/linuxbrew.module"
  sudo: yes
  sudo_user: ubuntu
