export HOMEBREW_BUILD_FROM_SOURCE=1
export PATH="{{ gvl_app_path }}/linuxbrew/bin:$PATH"
export MANPATH="{{ gvl_app_path }}/linuxbrew/share/man:$MANPATH"
export INFOPATH="{{ gvl_app_path }}/linuxbrew/share/info:$INFOPATH"
export HOMEBREW_TEMP="/mnt/transient_nfs/homebrew_temp"
export HOMEBREW_CACHE="/mnt/transient_nfs/homebrew_cache"
export KRAKEN_DEFAULT_DB="{{ gvl_app_path }}/linuxbrew/Cellar/kraken/krakendb"
