unset PYTHONPATH
unset LD_LIBRARY_PATH

export PATH="{{ homebrew_path }}/bin:{{ gvl_app_path }}/linuxbrew/sbin:$PATH"
export MANPATH="{{ homebrew_path }}/share/man:$MANPATH"
export INFOPATH="{{ homebrew_path }}/share/info:$INFOPATH"
export HOMEBREW_TEMP="{{ gvl_tmp_path }}/homebrew_temp"
export HOMEBREW_CACHE="{{ gvl_tmp_path }}/homebrew_cache"
export KRAKEN_DEFAULT_DB="{{ homebrew_path }}/Cellar/kraken/krakendb"
